script(type='text/template', id='items-template')
  include ../models/sidebar.pug
  div.content
    div#top
      div.items
        span Name
        span Category
        span Price
        span In stock
    div#items
    a#new new Item
    

script(type='text/template', id='item-template')
  include ../models/sidebar.pug
  div.content
    div#form
      div.input
        <%if (item.image) {%>
        img#image(src!='<%-item.image%>')
        <%}%>
        input#image(name='image' type='file')
      div.input
        label Name
        input#input(name='name' value!='<%-item.name%>')
      div.input
        label Category
        select#input(name='category' value!='<%-item.category%>')
          option(value='') None
          <%for (let category of categories) {%>
            <%if (item.category && item.category._id == category._id) {%>
            option(value!='<%-category._id%>' selected) <%-category.name%>
            <%} else{%>
            option(value!='<%-category._id%>') <%-category.name%>
            <%}%>
          <%}%>
      div.input
        label Tags (seperate with ,)
        input#tags(name='tags' value!='<%-item.tags%>')
      div.input
        label Text
        textarea#input(name='info' value!='<%-item.info%>') <%-item.info%>
      div.input
        label Price
        input#input(name='price' type='number' value!='<%-item.price%>')
      div.input
        label In stock
        input#input(name='amount' type='number' value!='<%-item.amount%>')
      div.input
        label Weight (gram)
        input#input(name='weight' type='number' value!='<%-item.weight%>')
      div.input
        label Milliliters (ml), for Wine etc.
        input#input(name='liter' type='number' value!='<%-item.liter%>')
      div.input
        label Shipping
        input#input(name='shipping' type='number' value!='<%-item.shipping%>')
      div.double
        button.red#remove Remove
        button#send Save
  
