script(type='text/template', id='model-creditcard-template')
  h3 Bezahle mit Kreditkarte
  form#payment-form
    div#card-element.column
    div#card-errors(role='alert')
    div.content
      button#creditcard Bezahlen

script(type='text/template', id='model-ideal-template')
  h3 Bezahle mit iDEAL
  div#ideal-bank-element
  div#error-content(role='alert')
  div.content
    button#ideal Bezahlen

script(type='text/template', id='model-giropay-template')
  div.content
    img#giropay(src='/images/giropay.png')
