div#footer
  div.footer
    div.row
      h4 Sprache
      a#languageDE DE
      a#languageEN EN
    div.row
      h4 Social
      span
        i(class='fa fa-github')
        a(href='https://github.com/addiinnocent/backbonecommerce' target='_blank') Github
      span
        i(class='fa fa-instagram')
        a(href='https://www.instagram.com/winedu_de/' target='_blank') Instagram
    div.row
      h4 Unternehmen
      a#footerprivacy Datenschutz
      a#footerimprint Impressum
      a#footerpayment Bezahlung &
      a#footerpayment Versand
