script(type='text/template', id='model-item-template')
  img(src!='<%-image%>')
  div.box
    h3 <%-name%>
    div#tags
      <% for(let tag of tags){%>
      span#tag.tag <%-tag%>
      <%}%>
    div.list
      b <%-price%> € pro Flasche
      l + <%-shipping%> € Versand
      <% if(liter > 0) {%>
      l ( <%-base%> € / 1 l )
      <%}%>
    button in den Warenkorb
    a#labeling Lebensmittelkennzeichnung *
