script(type='text/template', id='agb-template')
  div#header
    div#logo
      img(src='/images/logo.png')
    div#navi
      i(class='fa fa-bars')
    div.navi
      a#toindex
        span Startseite
      a#toshop
        span Einkaufen
      a#toinfo
        span Steckbrief
  div.content
    h2 Allgemeine Geschäftsbedingungen
    span
      h3 § 1 Geltungsbereich und Anbieter
      p Diese Allgemeinen Geschäftsbedingungen gelten für alle Bestellungen, die Sie bei dem Online-Shop Wine Dude tätigen.
      p Das Warenangebot in unserem Online-Shop richtet sich ausschließlich an Käufer, die das 18. Lebensjahr vollendet haben.
      p Unsere Lieferungen, Leistungen und Angebote erfolgen ausschließlich auf der Grundlage dieser Allgemeinen Geschäftsbedingungen. Die Allgemeinen Geschäftsbedingungen gelten gegenüber Unternehmen somit auch für alle künftigen Geschäftsbeziehungen, auch wenn sie nicht nochmals ausdrücklich vereinbart werden. Der Einbeziehung von Allgemeinen Geschäftsbedingungen eines Kunden, die unseren Allgemeinen Geschäftsbedingungen widersprechen, wird schon jetzt widersprochen.
      p Vertragssprache ist ausschließlich deutsch.
      h3 § 2 Vertragsschluss
      p Die Warenpräsentation im Online-Shop stellt keinen verbindlichen Antrag auf den Abschluss eines Kaufvertrages dar. Vielmehr handelt es sich um eine unverbindliche Aufforderung, im Online-Shop Waren zu bestellen.
      p Mit Anklicken des Buttons [„Bezahlen“] geben Sie ein verbindliches Kaufangebot ab (§ 145 BGB). Unmittelbar vor Abgabe dieser Bestellung können Sie die Bestellung noch einmal überprüfen und ggf. korrigieren.
      p Nach Eingang des Kaufangebots erhalten Sie eine automatisch erzeugte E- Mail, mit der wir bestätigen, dass wir Ihre Bestellung erhalten haben (Eingangsbestätigung). Diese Eingangsbestätigung stellt noch keine Annahme Ihres Kaufangebots dar. Ein Vertrag kommt durch die Eingangsbestätigung noch nicht zustande.
      p Ein Kaufvertrag über die Ware kommt erst zustande, wenn wir ausdrücklich die Annahme des Kaufangebots erklären (Bestellbestätigung) oder wenn wir die Ware ohne vorherige ausdrückliche Annahmeerklärung an Sie versenden.
      p Bestellungen sind nur in haushaltsüblichen Mengen möglich.
      h3 § 3 Preise
      p Die Auswahl der jeweils verfügbaren Bezahlmethoden obliegt uns. Wir behalten uns insbesondere vor, Ihnen für die Bezahlung nur ausgewählte Bezahlmethoden anzubieten, beispielweise zur Absicherung unseres Kreditrisikos nur Vorkasse.
      p Bei Auswahl der Zahlungsart Vorkasse nennen wir Ihnen unsere Bankverbindung in der Auftragsbestätigung. Der Rechnungsbetrag ist innerhalb von 10 Tagen nach Erhalt der Auftragsbestätigung auf unser Konto zu überweisen.
      p Bei Zahlung per Kreditkarte wird der Kaufpreis zum Zeitpunkt der Bestellung auf Ihrer Kreditkarte reserviert (Autorisierung). Die tatsächliche Belastung Ihres Kreditkartenkontos erfolgt in dem Zeitpunkt, in dem wir die Ware an Sie versenden.
      p Bei der Bezahlung mit PayPal werden Sie im Bestellprozess auf die Webseite des Online-Anbieters PayPal weitergeleitet. Um den Rechnungsbetrag über PayPal bezahlen zu können, müssen Sie dort registriert sein bzw. sich erst registrieren, mit Ihren Zugangsdaten legitimieren und die Zahlungsanweisung an uns bestätigen. Nach Abgabe der Bestellung im Shop fordern wir PayPal zur Einleitung der Zahlungstransaktion auf. Weitere Hinweise erhalten Sie beim Bestellvorgang. Die. Zahlungstransaktion wird durch PayPal unmittelbar danach automatisch durchgeführt.
      p Geraten Sie mit einer Zahlung in Verzug, so sind Sie zur Zahlung der gesetzlichen Verzugszinsen in Höhe von 5 Prozentpunkten über dem Basiszinssatz verpflichtet. Für jedes Mahnschreiben, das nach Eintritt des Verzugs an Sie versandt wird, wird Ihnen eine Mahngebühr in Höhe von 2,50 EUR berechnet, sofern nicht im Einzelfall ein niedrigerer bzw. höherer Schaden nachgewiesen wird.
      h3 § 4 Aufrechnung / Zurückbehaltungsrecht
      p Ein Recht zur Aufrechnung steht Ihnen nur dann zu, wenn Ihre Gegenforderung rechtskräftig festgestellt worden ist, von uns nicht bestritten oder anerkannt wird oder in einem engen synallagmatischen Verhältnis zu unserer Forderung steht.
      p Ebenso können Sie ein Zurückbehaltungsrecht nur ausüben, soweit Ihre Gegenforderung auf demselben Vertragsverhältnis beruht.
      h3 § 5 Lieferung
      p Sofern nicht anders vereinbart, erfolgt die Lieferung der Ware von unserem Lager an die von Ihnen angegebene Adresse.
      p Lieferungen sind nur innerhalb Deutschlands möglich.
      p Sollten nicht alle bestellten Produkte vorrätig sein, sind wir zu Teillieferungen berechtigt, soweit dies für Sie zumutbar ist. Etwaige Fristen beginnen erst mit dem Erhalt der letzten Teillieferung.
      p Sofern die Lieferung leicht verderblicher Ware Gegenstand dieses Vertrags ist, gilt Folgendes: Der Kunde stellt die Annahme leicht verderblicher Waren zu dem vereinbarten Liefertermin durch geeignete Vorkehrungen sicher, z.B. indem er die Ware selbst entgegennimmt, eine Person mit der Annahme an der angegebenen Lieferadresse beauftragt oder dem Verkäufer den Namen und die Anschrift eines zur Annahme bereiten und berechtigten Nachbarn mitteilt.
      p Bei der Bestellung loser Ware, d.h. Ware, die kundenindividuell abgewogen wird (z.B. Obst, Gemüse, Fleisch, Wurst und Käse), kann es zu Mengenabweichungen kommen. Der zu zahlende Preis wird auf Basis des Grundpreises ermittelt. Der Grundpreis wird in EUR je Mengeneinheit angegeben (z.B. EUR je 100ml, 100g, 1kg, 1l). Der durch den Kunden zu zahlende Preis bezieht sich dann auf die tatsächlich abgewogene Menge. Dadurch kann es zu leichten Unterschieden zwischen dem im Online-Shop bei Absenden der Bestellung genannten Preis und dem tatsächlichen Rechnungspreis kommen. Es wird sich bemüht, solche Abweichung möglichst gering zu halten.
      p Die Lieferung bestellter Waren erfolgt vorbehaltlich der Verfügbarkeit der Ware. Ist diese zum Bestellzeitpunkt nicht lieferbar, erhält der Besteller eine Benachrichtigung über den voraussichtlichen Liefertermin und die Bestellung wird durch uns vorgemerkt. Sobald die Ware vorrätig ist, erfolgt der Versand an den Besteller, ohne dass eine weitere Benachrichtigung an den Besteller erfolgt. Im Falle der Nichtverfügbarkeit, insbesondere weil ein als solcher gekennzeichneter begrenzter Warenvorrat erschöpft ist (z.B. Jahrgangswein) wird der Besteller durch uns unterrichtet. Bereits geleistete Zahlungen werden dann unverzüglich zurückerstattet.
      p Bei Lieferung von Spirituosen und Tabakwaren oder sonstigen Artikeln, die gesetzlichen Verkaufsbeschränkungen unterliegen, erfolgt eine Übergabe der Ware nur an Empfangspersonen, die die gesetzlichen Vorgaben erfüllen, und nur nach Vorlage des Personalausweises.
      p Wir sind ausnahmsweise nicht zur Lieferung der bestellten Ware verpflichtet, wenn wir die Ware unsererseits ordnungsgemäß bestellt haben, jedoch nicht richtig oder rechtzeitig beliefert wurden (kongruentes Deckungsgeschäft). Voraussetzung ist, dass wir die fehlende Warenverfügbarkeit nicht zu vertreten haben und Sie über diesen Umstand unverzüglich informiert haben. Zudem dürfen wir nicht das Risiko der Beschaffung der bestellten Ware übernommen haben. Bei entsprechender Nichtverfügbarkeit der Ware werden wir Ihnen bereits geleistete Zahlungen unverzüglich erstatten. Das Risiko, eine bestellte Ware besorgen zu müssen (Beschaffungsrisiko), übernehmen wir nicht. Dies gilt auch bei der Bestellung von Waren, die nur ihrer Art und ihren Merkmalen nach beschrieben ist (Gattungswaren). Wir sind nur zur Lieferung aus unserem Warenvorrat und der von uns bei unseren Lieferanten bestellten Waren verpflichtet.
      h3 § 6 Eigentumsvorbehalt
      p Die Ware bleibt bis zur vollständigen Zahlung des Kaufpreises unser Eigentum.
      p Wenn Sie Unternehmer im Sinne des § 14 BGB sind, gilt ergänzend Folgendes:
        p Wir behalten uns das Eigentum an der Ware bis zum vollständigen Ausgleich aller Forderungen aus der laufenden Geschäftsbeziehung vor. Vor Übergang des Eigentums an der Vorbehaltsware ist eine Verpfändung oder Sicherheitsübereignung nicht zulässig.
        p Sie dürfen die Ware im ordentlichen Geschäftsgang weiterverkaufen. Für diesen Fall treten Sie bereits jetzt alle Forderungen in Höhe des Rechnungsbetrages, die Ihnen aus dem Weiterverkauf erwachsen, an uns ab. Wir nehmen die Abtretung an, Sie sind jedoch zur Einziehung der Forderungen ermächtigt. Soweit Sie Ihren Zahlungsverpflichtungen nicht ordnungsgemäß nachkommen, behalten wir uns das Recht vor, Forderungen selbst einzuziehen.
        p Bei Verbindung und Vermischung der Vorbehaltsware erwerben wir Miteigentum an der neuen Sache im Verhältnis des Rechnungswertes der Vorbehaltsware zu den anderen verarbeiteten Gegenständen zum Zeitpunkt der Verarbeitung.
        p Wir verpflichteten uns, die uns zustehenden Sicherheiten auf Verlangen insoweit freizugeben, als der realisierbare Wert unserer Sicherheiten die zu sichernden Forderungen um mehr als 10 % übersteigt. Die Auswahl der freizugebenden Sicherheiten obliegt uns.
      h3 § 7 Widerrufsbelehrung
      p Für den Fall, dass Sie Verbraucher im Sinne des § 13 BGB sind, also den Kauf zu Zwecken tätigen, die überwiegend weder Ihrer gewerblichen noch Ihrer selbständigen beruflichen Tätigkeit zugerechnet werden können, haben Sie ein Widerrufsrecht nach Maßgabe der folgenden Bestimmungen.
      b Widerrufsrecht
      p Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat. Um Ihr Widerrufsrecht auszuüben, müssen Sie uns mittels einer eindeutigen Erklärung (z. B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist. Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
      b Folgen des Widerrufs
      p Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist. Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, an uns oder an zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden. Sie tragen die unmittelbaren Kosten der Rücksendung der Waren. Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurück- zuführen ist.
      b Ende der Widerrufsbelehrung
      p Das Widerrufsrecht besteht nicht
        p bei der Lieferung von Waren, die nicht vorgefertigt sind und für deren Herstellung eine individuelle Auswahl oder Bestimmung durch den Verbraucher maßgeblich ist oder die eindeutig auf die persönlichen Bedürfnisse des Verbrauchers zugeschnitten sind,
        p Bei der Lieferung von Waren, die schnell verderben können oder deren Verfallsdatum schnell überschritten würde,
        p bei der Lieferung versiegelter Waren, die aus Gründen des Gesundheits- schutzes oder der Hygiene nicht zur Rückgabe geeignet sind, wenn ihre Versiegelung nach der Lieferung entfernt wurde,
        p bei der Lieferung von Waren, wenn diese nach der Lieferung auf Grund ihrer Beschaffenheit untrennbar mit anderen Gütern vermischt wurden oder
        p bei der Lieferung alkoholischer Getränke, deren Preis bei Vertrags- schluss vereinbart wurde, die aber frühestens 30 Tage nach Vertragsschluss geliefert werden können und deren aktueller Wert von Schwankungen auf dem Markt abhängt, auf die der Unternehmer keinen Einfluss hat.
      p Bitte vermeiden Sie Beschädigungen und Verunreinigungen. Senden Sie die Ware bitte möglichst in Originalverpackung mit sämtlichem Zubehör und mit allen Verpackungsbestandteilen an uns zurück. Verwenden Sie ggf. eine schützende Umverpackung. Wenn Sie die Originalverpackung nicht mehr besitzen, sorgen Sie bitte mit einer geeigneten Verpackung für einen ausreichenden Schutz vor Transportschäden, um Schadensersatzansprüche wegen Beschädigungen infolge mangelhafter Verpackung zu vermeiden.
      p Bitte rufen Sie vor Rücksendung bei uns an, um die Rücksendung anzukündigen. Auf diese Weise ermöglichen Sie uns eine schnellstmögliche Zuordnung der Produkte.
      p Bitte beachten Sie, dass die in den vorstehenden Absätzen 2 und 3 genannten Modalitäten nicht Voraussetzung für die wirksame Ausübung des Widerrufsrechts sind.
      h3 § 8 Transportschäden
      p Werden Waren mit offensichtlichen Transportschäden angeliefert, so reklamieren Sie solche Fehler bitte sofort bei dem Zusteller und nehmen Sie bitte schnellstmöglich Kontakt zu uns auf.
      p Die Versäumung einer Reklamation oder Kontaktaufnahme hat für Ihre gesetzlichen Gewährleistungsrechte keine Konsequenzen. Sie helfen uns aber, unsere eigenen Ansprüche gegenüber dem Frachtführer bzw. der Transportversicherung geltend machen zu können.
      h3 § 9 Gewährleistung
      p Soweit nicht ausdrücklich etwas anderes vereinbart ist, richten sich Ihre Gewährleistungsansprüche nach den gesetzlichen Bestimmungen des Kaufrechts (§§ 433 ff. BGB).
      p Wenn Sie Unternehmer im Sinne des § 14 BGB sind, gelten die gesetzlichen Bestimmungen mit folgenden Modifikationen:
        p Für die Beschaffenheit der Ware sind nur unsere eigenen Angaben und die Produktbeschreibung des Herstellers verbindlich, nicht jedoch öffentliche Anpreisungen und Äußerungen und sonstige Werbung des Herstellers.
        p Sie sind verpflichtet, die Ware unverzüglich und mit der gebotenen Sorgfalt auf Qualitäts- und Mengenabweichungen zu untersuchen und uns offensichtliche Mängel binnen 7 Tagen ab Empfang der Ware anzuzeigen. Zur Fristwahrung reicht die rechtzeitige Absendung. Dies gilt auch für später festgestellte verdeckte Mängel ab Entdeckung. Bei Verletzung der Untersuchungs- und Rügepflicht ist die Geltendmachung der Gewährleistungsansprüche ausgeschlossen.
        p Bei Mängeln leisten wir nach unserer Wahl Gewähr durch Nachbesserung oder Ersatzlieferung (Nacherfüllung). Im Falle der Nachbesserung müssen wir nicht die erhöhten Kosten tragen, die durch die Verbringung der Ware an einen anderen Ort als den Erfüllungsort entstehen, sofern die Verbringung nicht dem bestimmungsgemäßen Gebrauch der Ware entspricht.
        p Schlägt die Nacherfüllung zweimal fehl, können Sie nach Ihrer Wahl Minderung verlangen oder vom Vertrag zurücktreten.
        p Die Gewährleistungsfrist beträgt ein Jahr ab Ablieferung der Ware.
      h3 § 10 Haftung
      p Unbeschränkte Haftung: Wir haften unbeschränkt für Vorsatz und grobe Fahrlässigkeit sowie nach Maßgabe des Produkthaftungsgesetzes. Für leichte Fahrlässigkeit haften wir bei Schäden aus der Verletzung des Lebens, des Körpers und der Gesundheit von Personen.
      p Im Übrigen gilt folgende beschränkte Haftung: Bei leichter Fahrlässigkeit haften wir nur im Falle der Verletzung einer wesentlichen Vertragspflicht, deren Erfüllung die ordnungsgemäße Durchführung des Vertrags überhaupt erst ermöglicht und auf deren Einhaltung Sie regelmäßig vertrauen dürfen (Kardinalpflicht). Die Haftung für leichte Fahrlässigkeit ist der Höhe nach beschränkt auf die bei Vertragsschluss vorhersehbaren Schäden, mit deren Entstehung typischerweise gerechnet werden muss. Haftungsbeschränkung gilt auch zugunsten unserer Erfüllungsgehilfen.
      h3 § 11 Alternative Streitbeilegung
      p Die EU-Kommission hat eine Plattform für außergerichtliche Streitschlichtung bereitgestellt. Verbrauchern gibt dies die Möglichkeit, Streitigkeiten im Zusammenhang mit Ihrer Online-Bestellung zunächst ohne die Einschaltung eines Gerichts zu klären. Die Streitbeilegungs-Plattform ist unter dem externen Link http://ec.europa.eu/consumers/odr/ erreichbar.
      p Wir sind bemüht, eventuelle Meinungsverschiedenheiten aus unserem Vertrag einvernehmlich beizulegen. Darüber hinaus sind wir zu einer Teilnahme an einem Schlichtungsverfahren nicht verpflichtet und können Ihnen die Teilnahme an einem solchen Verfahren leider auch nicht anbieten.
      h3 § 12 Schlussbestimmungen
      p Sollten eine oder mehrere Bestimmungen dieser AGB unwirksam sein oder werden, wird dadurch die Wirksamkeit der anderen Bestimmungen im Übrigen nicht berührt.
      p Auf Verträge zwischen uns und Ihnen ist ausschließlich deutsches Recht anwendbar unter Ausschluss der Bestimmungen der United Nations Convention on Contracts for the International Sale of Goods (CISG, „UN- Kaufrecht“). Zwingende Bestimmungen des Landes, in dem Sie sich gewöhnlich aufhalten, bleiben von der Rechtswahl unberührt.
      p Sind Sie Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich- rechtliches Sondervermögen, so ist Gerichtsstand für alle Streitigkeiten aus oder im Zusammenhang mit Verträgen zwischen uns und Ihnen unser Geschäftssitz.
  include ../models/footer.pug

script(type='text/template', id='imprint-template')
  div#header
    div#logo
      img(src='/images/logo.png')
    div#navi
      i(class='fa fa-bars')
    div.navi
      a#toindex
        span Startseite
      a#toshop
        span Einkaufen
      a#toinfo
        span Steckbrief
  div.content
    h2 Impressum
    span
      h3 Angaben gemäß § 5 TMG
      p Yannik Mellinger
      p Goebenstraße 35
      p 66111 Saarbrücken
      h3 Kontakt
      p E-Mail: mail@winedu.de
      br
      h3 EU-Streitschlichtung
      p Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: https://ec.europa.eu/consumers/odr.
      p Unsere E-Mail-Adresse finden Sie oben im Impressum.
      h3 Haftung für Inhalte
      p Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
      p Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
      h3 Haftung für Links
      p Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
      p Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      h3 Urheberrecht
      p Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
      p Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
  include ../models/footer.pug
  
script(type='text/template', id='privacy-template')
  div#header
    div#logo
      img(src='/images/logo.png')
    div#navi
      i(class='fa fa-bars')
    div.navi
      a#toindex
        span Startseite
      a#toshop
        span Einkaufen
      a#toinfo
        span Steckbrief
  div.content
    h2 Datenschutzerklärung
    span
      h3 1. Datenschutz auf einen Blick
      b Allgemeine Hinweise
      p Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
      b Wie erfassen wir Ihre Daten?
      p Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular eingeben. Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website betreten.
      b Wofür nutzen wir Ihre Daten?
      p Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.
      b Welche Rechte haben Sie bezüglich Ihrer Daten?
      p Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung oder Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Außerdem haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Details hierzu entnehmen Sie der Datenschutzerklärung unter „Recht auf Einschränkung der Verarbeitung“.
      h3 2. Hosting
      b Externes Hosting
      p Diese Website wird bei einem externen Dienstleister gehostet (Hoster). Personenbezogenen Daten, die auf dieser Website erfasst werden, werden auf den Servern des Hosters gespeichert. Hierbei kann es sich v. a. um IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten, Kontaktdaten, Namen, Webseitenzugriffe und sonstige Daten, die über eine Website generiert werden, handeln. Der Einsatz des Hosters erfolgt zum Zwecke der Vertragserfüllung gegenüber unseren potenziellen und bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren, schnellen und effizienten Bereitstellung unseres Online-Angebots durch einen professionellen Anbieter (Art. 6 Abs. 1 lit. f DSGVO). Unser Hoster wird Ihre Daten nur insoweit verarbeiten, wie dies zur Erfüllung seiner Leistungspflichten erforderlich ist und unsere Weisungen in Bezug auf diese Daten befolgen. Abschluss eines Vertrages über Auftragsverarbeitung um die datenschutzkonforme Verarbeitung zu gewährleisten, haben wir einen Vertrag über Auftragsverarbeitung mit unserem Hoster geschlossen.
      h3 3. Allgemeine Hinweise und Pflichtinformationen
      p Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung. Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht. Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
      b Beschwerderecht bei der zuständigen Aufsichtsbehörde
      p Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.
      b Recht auf Datenübertragbarkeit
      p Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.
      b SSL- bzw. TLS-Verschlüsselung
      p Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL- bzw. TLS- Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
      b Auskunft, Löschung und Berichtigung
      p Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
      b Recht auf Einschränkung der Verarbeitung
      p Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Hierzu können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Das Recht auf Einschränkung der Verarbeitung besteht in folgenden Fällen:
      p Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten, benötigen wir in der Regel Zeit, um dies zu überprüfen. Für die Dauer der Prüfung haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
      p Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah/geschieht, können Sie statt der Löschung die Einschränkung der Datenverarbeitung verlangen.
      p Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung, Verteidigung oder Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht, statt der Löschung die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
      p Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung zwischen Ihren und unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen Interessen überwiegen, haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
      p Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Europäischen Union oder eines Mitgliedstaats verarbeitet werden.
      b Widerspruch gegen Werbe-E-Mails
      p Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
      h3 4. Datenerfassung auf dieser Website
      b Cookies
      p Diese Internetseite verwendet so genannte Cookies. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
      p Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
      p Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
      p Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs oder zur Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (z. B. Warenkorbfunktion) erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert. Der Websitebetreiber hat ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. Sofern eine entsprechende Einwilligung abgefragt wurde (z. B. eine Einwilligung zur Speicherung von Cookies), erfolgt die Verarbeitung ausschließlich auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO; die Einwilligung ist jederzeit widerrufbar.
      p Soweit andere Cookies (z. B. Cookies zur Analyse Ihres Surfverhaltens) gespeichert werden, werden diese in dieser Datenschutzerklärung gesondert behandelt.
      b Kontaktformular
      p Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
      p Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf unserem berechtigten Interesse an der effektiven Bearbeitung der an uns gerichteten Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) sofern diese abgefragt wurde.
      p Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z. B. nach abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche Bestimmungen – insbesondere Aufbewahrungsfristen – bleiben unberührt.
      b Anfrage per E-Mail, Telefon oder Telefax
      p Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre Anfrage inklusive aller daraus hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens bei uns gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
      p Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) und/oder auf unseren berechtigten Interessen (Art. 6 Abs. 1 lit. f DSGVO), da wir ein berechtigtes Interesse an der effektiven Bearbeitung der an uns gerichteten Anfragen haben.
      p Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen – bleiben unberührt.
  include ../models/footer.pug
    
script(type='text/template', id='footerpayment-template')
  div#header
    div#logo
      img(src='/images/logo.png')
    div#navi
      i(class='fa fa-bars')
    div.navi
      a#toindex
        span Startseite
      a#toshop
        span Einkaufen
      a#toinfo
        span Steckbrief
  div.content
    h2 Bezahlung
    span
      h3  Kreditkarte
      p Sie können ganz bequem mit folgenden Kreditkarten bezahlen: Visa, MasterCard oder American Express. Die Datenübertragung erfolgt über eine sichere SSL-Verschlüsselung. Die Belastung Ihrer Kreditkarte erfolgt mit dem Abschluss Ihrer Bestellung.
      h3 SEPA
      p Mit der SEPA-Überweisung können Sie im gesamten SEPA-Raum einfach und bargeldlos bezahlen. Bei Überweisungen innerhalb Deutschlands und des Europäischen Wirtschaftsraums müssen Sie neben dem Namen des Empfängers nur die IBAN angeben. Für Zahlungen in Länder außerhalb des Europäischen Wirtschaftsraums (Monaco, San Marino und Schweiz) benötigen Sie zusätzlich den BIC. Ihr Geld wird europaweit innerhalb von einem Bankarbeitstag auf dem Empfängerkonto gutgeschrieben (Gutschrift einer Überweisung). Für beleghaft erteilte SEPA-Überweisungen verlängert sich die Frist um einen weiteren Bankarbeitstag.
      h3 GiroPay
      p Wenn Sie mit giropay bezahlen, dann nutzen Sie das sichere Online-Banking Ihrer Bank oder Sparkasse. Ihre persönlichen Bankdaten bleiben maximal geschützt und geheim. Für giropay gelten gleichermaßen wie für Ihre Bankgeschäfte die anerkannt hohen Sicherheits- und Datenschutzstandards des Online-Bankings.
      h3 Bitcoin
      p Dieser Shop akzeptiert Bitcoin! Als Zahlungsdienstleister dient Coinbase.
  div.content
    h2 Versand
    span
      h3  DHL
      p Um unseren Wein zu versenden setzen wir auf DHL als Versandpartner. Die Preise werden nach Größe und Gewicht kalkuliert und werden in der Tabelle aufgelistet.
      h3 Preistabelle
      div.triple
        p Typ
        p Gewicht
        p Preis
      div.triple
        p Päckchen S
        p 2 kg
        p 3,79 €
      div.triple
        p Paket M
        p 5 kg
        p 5,99 €
      div.triple
        p Paket L
        p 10 kg
        p 8,49 €
      div.triple
        p Paket XL
        p 31,5 kg
        p 16,49 €
  include ../models/footer.pug
  
